#titleBillet {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.nb {
  color:#2b2b2b;
  font-size: 17px;
  margin-left: 1em;
}

.select {margin-left: 1em;
  width: 86%;
  height: 2.1em;
  border: solid 1px #AC262D;
  background-color: #2b2b2b;
  color: white;
  font-size: 1.5em;
}

.nadarDes {
  display: flex;
  justify-content: center;
}

.return {
  color: #AC262D;
  margin-top: 1.5em;
}

.containerTopPage {
  background-color: #2b2b2b;
  height: 28em;
}

.where {
  margin-top:-1.1em;  
}
.center {
  color:white;
  text-align: center;
}

.text {
  margin-top:-1.5em;
  font-weight: bold;
}

.titleNadar {
  color:white;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

.titleExpo {
  font-size: 1.1em;
  font-weight: bold;
}

.title {
  font-size: 1.5em;  
  font-weight: bold;
  color: #AC262D;
  margin-top: 2em;
}