.textAvatar {
    margin: 0 40px;
    font-size: 17px;
    display: block;
    text-align: center;
}

.text-title{
    color: #ac262d;
    font-size: 23px
}

.text-gaming{

    margin-top: 2em;
    margin-right: 1em;
    width: 300px;
    font-size: 18px;
    text-align: left
}

.left-arrow > img{
    margin-top: -5px;
    width: 30px;
    position: fixed;
    left: 20px;
}

.photoBtn {
    display: block;
    text-align: center;
    background-color: transparent;
    border: 1px #ac262d solid;
    width: 250px;
    padding: 15px;
    font-size: 15px;
    margin-left: 15%;
    color: #AC262D;
}

.item-nav{
    background-color: transparent;
    margin-top: 15px;
    color: grey;
    display: block;
    text-align: center;
}

.SocialeIcon {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
}

.SocialeIcon > img {
    width: 40px;
    margin: 5px;
}

a{
    text-decoration:none;
}