.textAvatar {
    margin: 0 40px;
    font-size: 17px;
}
.textAvatar>p{
    text-align: center;
}

.aaa > img {
    margin-top: -5px;
    width: 30px;
    position: fixed;
    left: 20px;
}

.photoBtn {
    display: block;
    text-align: center;
    background-color: transparent;
    border: 1px #ac262d solid;
    width: 250px;
    padding: 15px;
    font-size: 15px;
    margin-left: 15%;
    color: #AC262D;
    text-decoration: none;
}

#link {
    margin-top: 15px;
    color: grey;
    text-align: center;
    background-color: inherit;
}
.buton5{
    background-color: transparent;
    color: grey;
    font-size:15px;
}

.SocialeIcon {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
}

.SocialeIcon > img {
    width: 40px;
    margin: 5px;
}

a{
    text-decoration: none;
}