

.Footer {
    background-color: #AC262D;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 600px;
    height: 3.5em;
    
    width: 366px;
}

#item-nav {
    width: 25px;
    padding: 10px;

}
#item-nav>img{
    width: 30px;
    height:30px;
}