.Footer {
    background-color: #AC262D;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    height: 3em;

    width: 100%;
}

#item-nav {
    width: 19px;
    padding: 10px;

}
