.Map{
    background-image: url("../Carte.png");
    background-size:100% ;
    background-repeat: no-repeat;
    max-height:100%;
    min-width: 100%;
}
.notif{
    position: absolute;
    left: 150px;
    top: 30px;
}
.un{
    margin-top: 56px;
    margin-left: 142px;
    width:44px;
    border: none;
    height: 41px;
    background-color: inherit;
    
   
    
}
.deux{
    margin-top: 12px;
    margin-left: 259px;
    width:44px;
    border: none;
    height: 41px;
    background-color: inherit;
}
.trois{
    margin-top: 84px;
    margin-left: 279px;
    width:44px;
    border: none;
    height: 41px;
    background-color: inherit;
}
.quatre{
    position: absolute;
    top: 370px;
    left: 280px;
    width:44px;
    border: none;
    height: 41px;
    background-color: inherit;
    
}
.cinq{
    position: absolute;
    top: 505px;
    left: 289px;
    width:44px;
    border: none;
    height: 41px;
    background-color: inherit;
}
.six{
   
    margin-top: 215px;
    margin-left:138px;
    margin-bottom: 103px;
    width:44px;
    border: none;
    height: 41px;
    background-color: inherit;
}
.sept{
    position: absolute;
    top: 516px;
    left: 45px;
    width:44px;
    border: none;
    height: 41px;
    background-color: inherit;
}
.huit{
    position: absolute;
    top: 379px;
    left: 186px;
    width:44px;
    border: none;
    height: 41px;
    background-color: inherit;
}
.neuf{
    position: absolute;
    top: 358px;
    left: 41px;
    width:44px;
    border: none;
    height: 41px;
    background-color: inherit;
}
.dix{
    position: absolute;
    top: 244px;
    left: 41px;
    width:44px;
    border: none;
    height: 41px;
    background-color: inherit;
}
.onze{
    position: absolute;
    top: 174px;
    left: 124px;
    width:44px;
    border: none;
    height: 41px;
    background-color: inherit;
}