@font-face {
    font-family: "Yesteryear-Regular";
    src: url('../fonts/Yesteryear-Regular.ttf');
}

.page-inscription {
    text-align: center;
}

.logo-inscription {
    height: 80px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.page-inscription > p {
    margin-top: 0px;
    color: black;
}

.title-inscription {
    margin-top: 10px;
    font-size: 2em;
    color: #6e262d;
    font-family: "Yesteryear-Regular";
    margin-bottom: 0px;

}

.facebook {
    background-color: #3b5998;
    color: white;
    height: 60px;
    font-size: 18px;
    padding: 10px;
    border: none;
    margin-top: 40px;
    margin-bottom: 30px;
}

form {
    margin-top: 30px;
}

input {
    width: 300px;
    height: 45px;
    border: #ac262d 1px solid;

    margin-top: 20px;
    padding-left: 10px;
}

.submit {
    margin-top: 40px;
    background-color: #ac262d;
    color: white;
    font-size: 18px;
    height: 50px;
    width: 280px;
}
