@font-face {
	font-family: "Yesteryear-Regular";
	src: url('../fonts/Yesteryear-Regular.ttf');
}




.accueil{
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
    height: 200px;
    margin-top: 150px;
    margin-bottom: 20px;
  }
  
  p{
      color: #404040;
  }
  
  .App-title {
    font-size: 2.5em;
    color:#6e262d;
    font-family: "Yesteryear-Regular";
    margin-bottom: 5px;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

